@import "tailwindcss";

/* Theme colors */
:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-inter: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Arial, sans-serif;
}

/* Dark mode (optional, matches your current site style) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
